# Rstudio project
*.Rproj
.Rproj.user
.Rhistory

# Data
data/

# Output files
output/*
*.html
*.zip
*.tar.gz

# Do not ignore selected rooftops
!output/garmin

# Qgis files
*.qgs*

# Document files
*.pdf
*.png
*.tif*
*.jpg
*.doc*
*.xls*

# Cache
content/*cache/
